<div class="container centered">
  <form
    *ngIf="!isEncrypted"
    [formGroup]="encryptionForm"
    (ngSubmit)="encrypt()"
  >
    <div class="row">
      <div class="col">
        <div class="form-group">
          <!-- <label for="password">Password</label> -->
          <input
            type="text"
            class="form-control"
            formControlName="password"
            placeholder="Enter password"
          />
        </div>
        <div class="form-group font-weight-bold">
          <!-- <label for="viewCount">View Count</label> -->
          <input
            type="number"
            class="form-control"
            formControlName="viewCount"
            placeholder="Max View Count"
          />
          <small id="viewCountHelp" class="form-text"
            >-1 is for unlimited views. 0 is not allowed</small
          >
        </div>
      </div>
      <div class="col">
        <div class="form-group">
          <!-- <label for="message">Your Message</label> -->
          <textarea
            class="form-control"
            formControlName="text"
            rows="5"
            placeholder="Message"
          ></textarea>
        </div>
      </div>
    </div>
    <div class="row">
      <button
        type="submit"
        [disabled]="!encryptionForm.valid"
        class="btn col-lg-12 mt-5 font-weight-bold"
      >
        <div *ngIf="!isLoading">Encrypt</div>
        <div *ngIf="isLoading" class="spinner-border text-light" role="status">
          <span class="sr-only">Loading...</span>
        </div>
      </button>
    </div>
  </form>

  <div *ngIf="isEncrypted">
    <p>Encrypted Link: {{ link }}</p>
    <p>Password: {{ password }}</p>
    <button class="btn col-lg-12 mt-5 font-weight-bold" (click)="reset()">
      Back
    </button>
  </div>
</div>
