/* You can add global styles to this file, and also import other style files */
body {
  background-color: #311b92;
  font-family: "Roboto", sans-serif;
}

.btn {
  background-color: #ff9800;
}

.centered {
  position: fixed;
  top: 50%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
}

.container {
  padding: 3%;
  background-color: white;
  box-shadow: 10px 10px 10px;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  margin-bottom: 15px;
}

.linkedin {
  width: 10%;
  max-width: 80px;
}

.github {
  width: 3%;
  max-width: 60px;
}

.name {
  font-size: large;
}
