<div class="container centered">
  <div *ngIf="isExpired">
    <p class="display-1 font-weight-bold text-center">Link is Invalid</p>
    <p class="blockquote text-center">
      Maybe, the link shared is wrong, maybe it expired.<br />
      Either ways check and try again!
    </p>
  </div>
  <form
    *ngIf="!isExpired && !isDecrypted"
    [formGroup]="decryptionForm"
    (ngSubmit)="decrypt()"
  >
    <div class="row">
      <div class="col-8">
        <div class="form-group">
          <input
            type="text"
            class="form-control"
            formControlName="password"
            placeholder="Enter password"
          />
        </div>
      </div>
      <div class="col">
        <button
          type="submit"
          [disabled]="!decryptionForm.valid"
          class="btn btn-warning col-lg-12 font-weight-bold"
        >
          <div *ngIf="!isLoading">Decrypt</div>
          <div
            *ngIf="isLoading"
            class="spinner-border text-light"
            role="status"
          >
            <span class="sr-only">Loading...</span>
          </div>
        </button>
      </div>
    </div>
    <div class="row"></div>
  </form>
  <div *ngIf="isDecrypted">
    <textarea id="decryptedText" rows="5" cols="100">
 {{ decryptedText }} </textarea
    >
    <button class="btn col-lg-12 mt-5 font-weight-bold" (click)="reset()">
      Back
    </button>
  </div>
</div>
<ngb-toast
  *ngIf="isError"
  class="toast-container m-5 bg-danger text-light"
  style="z-index: 2147483647; position: absolute; top: 0; right: 0"
  [autohide]="true"
  [delay]="5000"
  (hidden)="toastHidden()"
  [animation]="true"
>
  {{ errorMessage }}
</ngb-toast>
